        <h1>つくByeBuyの特徴</h1>
        <div class="card">
          <div class="card-content">
            <div class="row">
              <div class="col s12 m4">
                <%= image_tag 'peculiarity.png'  ,:class => 'responsive-img' %>
              </div>
              <div class="col s12 m4">
                <h2>1.学籍番号の利用</h2>
                <ul class="browser-default">
                  <li>学生用メールアドレスにメール通知</li>
                  <li>アカウント作成なし</li>
                  <li>筑波大生に限定</li>
                </ul>
                <%= image_tag 'hito.png'  ,:class => 'responsive-img' %>
              </div>
              <div class="col s12 m4">
                <h2>2.地域の限定</h2>
                <ul class="browser-default">
                  <li>広大な筑波大周辺地域を最寄りのコンビニなどによる区分け</li>
                </ul>
                <%= image_tag 'tsukuba_map.png'  ,:class => 'responsive-img' %>
              </div>
            </div>
          </div>
        </div>
        <h1>使い方</h1>
        <div class="row">
          <div class="col s6">
            <h2>出品者</h2>
            <div class="card red lighten-5">
              <div class="card-content">
                <h3>1.出品</h3>
                <h4>フォーム入力</h4>
                <ul class="browser-default">
                  <li>出品が完了すると学生用メールアドレスにメール通知</li>
                  <li>パスワードを控える</li>
                </ul>
                <%= image_tag 'us2-1-1.png'  ,:class => 'responsive-img' %>
                <h4>出品情報の編集</h4>
                <ul class="browser-default">
                  <li>詳細ページから編集へ</li>
                  <li>パスワードが必要（出品完了メールの確認）</li>
                </ul>
                <%= image_tag 'us2-1-1c.png'  ,:class => 'responsive-img' %>
              </div>
            </div>
          </div>
          <div class="col s6">
            <h2>購入者</h2>
            <div class="card blue lighten-5">
              <div class="card-content">
                <h3>1.探す</h3>
                <h4>所属検索！</h4>
                <ul class="browser-default">
                  <li>教科書などをもらいたいときに便利</li>
                </ul>
                <%= image_tag 'us2-1-2a.png'  ,:class => 'responsive-img' %>
                <h4>地域検索！</h4>
                <ul class="browser-default">
                  <li>より近くの人からもらえる</li>
                </ul>
                <%= image_tag 'us2-1-2b.png'  ,:class => 'responsive-img' %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <div class="card red lighten-5">
              <div class="card-content">
                <h3>2.質問に答える</h3>
                <ul class="browser-default">
                  <li>「出品者」を選択し、パスワードを入れてコメント</li>
                  <li>出品者のコメントとその他を区別できる</li>
                </ul>
                <%= image_tag 'us2-2-1.png'  ,:class => 'responsive-img' %>
              </div>
            </div>
          </div>
          <div class="col s6">
            <div class="card blue lighten-5">
              <div class="card-content">
                <h3>2.質問する</h3>
                <ul class="browser-default">
                  <li>「利用者」を選択しコメント</li>
                </ul>
                <%= image_tag 'us2-2-2.png'  ,:class => 'responsive-img' %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <div class="card red lighten-5">
              <div class="card-content">
                <h3>3.メールに対応</h3>
                <ul class="browser-default">
                  <li>利用者からのメールを待ちましょう！</li>
                </ul>
                <%= image_tag 'us2-3-1.png'  ,:class => 'responsive-img' %>
              </div>
            </div>
          </div>
          <div class="col s6">
            <div class="card blue lighten-5">
              <div class="card-content">
                <h3>3.取引開始</h3>
                <ul class="browser-default">
                  <li>詳細ページから「取引開始」</li>
                  <li>要件と学籍番号を入力</li>
                </ul>
                <%= image_tag 'us2-3-2.png'  ,:class => 'responsive-img' %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <div class="card orange lighten-5">
              <div class="card-content">
                <h3>4.取引</h3>
                <ul class="browser-default">
                  <li>メールで場所などを指定し、受け渡し！！！</li>
                </ul>
                <%= image_tag 'osyaberi_woman.png'  ,:class => 'responsive-img' %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <div class="card red lighten-5">
              <div class="card-content">
                <h3>5.取引完了</h3>
                <ul class="browser-default">
                  <li>商品の詳細ページの下部から取引終了</li>
                  <li>取引終了にはパスワードが必要</li>
                </ul>
                <%= image_tag 'us2-1-1c.png'  ,:class => 'responsive-img' %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s6 center-align">
            <%= link_to '出品する', new_item_path, :class => "btn" %>
          </div>
          <div class="col s6 center-align">
            <%= link_to '商品一覧', items_path, :class => "btn" %>
          </div>
        </div>
