<p id="notice"><%= notice %></p>
<div id="index_top"></div>
<h1><%= link_to 'つくByeBuy', items_path %></h1>


<div class="header_tab">
    <div id="tab">
      <%= link_to '商品一覧', items_path %>
      <%= link_to '出品', new_item_path %>
      <%= link_to 'お問い合わせ', '../contact_page/home' %>
    </div>
</div>

<p>何かございましたら<strong>tsuku.byebuy[at]gmail.com</strong>までご連絡ください。</p>
