<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :item_name %>
  </div>

  <div class="field">
    <%= form.label :place_id %>
    <%= form.number_field :place_id, id: :item_place_id %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image, id: :item_image %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, id: :item_price %>
  </div>

  <div class="field">
    <%= form.label :detail %>
    <%= form.text_field :detail, id: :item_detail %>
  </div>

  <div class="field">
    <%= form.label :genre_id %>
    <%= form.number_field :genre_id, id: :item_genre_id %>
  </div>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.number_field :student_id, id: :item_student_id %>
  </div>

  <div class="field">
    <%= form.label :department_id %>
    <%= form.number_field :department_id, id: :item_department_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
