<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "商品名", :class=>"label_name" %>
      <div class="explain_name">商品名を入力してください。</div>
    <%= form.text_field :name, id: :item_name %>
  </div>

  <div class="field">
    <%= form.label :place_id, "お住まいの場所に一番近い場所", :class=>"label_place" %>
    <div class="explain_place">お住まいの場所に一番近い場所を選んでください。</div>
    <%= form.collection_select :place_id, Place.all, :id, :name ,:place_id => 1 %>
    <br>
    <a href="javascript:window.open('/map', 'map');">地図から選択（新しいウィンドウが開きます）</a>
  </div>

  <div class="field">
    <%= form.label :image, "商品画像", :class=>"label_image" %>
    <div class="explain_image">画像をアップロードしてください。JPEG, PNG形式に対応しています。</div>
    <%= form.file_field :image, id: :item_image %>
  </div>

  <div class="field">
    <%= form.label :price, "価格", :class=>"label_price" %>
    <div class="explain_price">商品の価格を入力してください。</div>
    <%= form.number_field :price, id: :item_price %> 円
  </div>

  <div class="field">
    <%= form.label :detail, "商品の状態、値下げの対応、運搬の対応など", :class=>"label_detail" %>
    <div class="explain_detail">商品の詳細情報を入力してください。
      商品の状態、値下げの対応、運搬の対応などを明記しておくと購入者の参考になります。</div>
    <%= form.text_area :detail, id: :item_detail, :size=>"40x10"%>
  </div>

  <div class="field">
    <%= form.label :genre_id, "ジャンル", :class=>"label_genre" %>
    <div class="explain_genre">商品のジャンルを選択してください。</div>
    <%= form.collection_select :genre_id, Genre.all, :id, :name ,:genre_id => 1 %>
  </div>

  <div class="field">
    <%= form.label :student_id, "学籍番号", :class=>"label_student_id" %>
    <div class="explain_student_id">学籍番号を9桁で入力してください。</div>
    <%= form.number_field :student_id, id: :item_student_id, :placeholder => "例) 201512345" %>
  </div>

  <div class="field">
    <%= form.label :department_id, "所属", :class=>"label_department" %>
    <div class="explain_department">所属を入力してください。
      特に教科書の出品では、所属を入力しておくと購入してもらえる可能性が高くなります。</div>
    <%= form.collection_select :department_id, Department.all, :id, :name ,:department_id => 1 %>
  </div>

  <div class="actions">
    <%= form.submit "登録", :class => "color_btn"%>
  </div>
<% end %>
