
<!--検索機能-->
<button class="toggle_button" data-toggle-id="search">検索・絞り込み</button>
<div class="toggle_container" data-toggle-id="search">
<form name="search_form" method="get">
  <div class="search_form">
    学類：
    <% @departments = Department.all %>
    <select name="department_select">
      <option value="0" selected="selected">指定しない</option>
      <% @departments.each do |dep| %>
          <option value="<%= dep.id %>"><%= dep.name %></option>
      <% end %>
    </select>
    ジャンル：
    <% @genres = Genre.all %>
    <select name="genre_select">
      <option value="0" selected="selected">指定しない</option>
      <% @genres.each do |gen| %>
        <option value="<%= gen.id %>"><%= gen.name %></option>
      <% end %>
    </select><br>
    <span class="toggle_button" data-toggle-id="place">場所</span>
    <div class="toggle_container" data-toggle-id="place">

      <% @places = Place.all %>
      <% @places.each do |pla| %>
      <span class="place_checkbox_item">
        <label><%= check_box 'place_check', pla.id, {}, true, false %><%= pla.name %></label>
      </span>
      <% end %>
    </div>
    <br>
    <strong>フリーワード検索</strong><br>
    <input type="text" name="freeword_select" size="40">
      <input type="submit" value="検索" class="color_btn">

    <!--ソート方法-->
    <br><br>
    並び替え：
    <select name="sort_type">
      <% slc0 = '' %>
      <% slc1 = '' %>
      <% if params["sort_type"] == '1' %>
        <% slc1 = "selected='selected'" %>
      <% else %>
        <% slc0 = "selected='selected'" %>
      <% end %>

      <option value="0" <%= slc0 %> >新しい順に表示</option>
      <option value="1" <%= slc1 %> >価格順に表示</option>
    </select>

    </div><br>

  <% @sort_str = "" %>
  <% if params["sort_type"] == '0' || params["sort_type"] == nil%>
    <% @items = Item.order('created_at DESC').all %>
    <% @sort_str = "新しい順に表示" %>
  <% elsif params["sort_type"] == '1' %>
    <% @items = Item.order('price ASC').all %>
    <% @sort_str = "価格順に表示" %>
  <% end %>


<% if params["freeword_select"] != "" && params["freeword_select"] != nil %>
  <% @items = @items.where("name like(?)", "%#{params['freeword_select']}%") %>
<% end %>
<% if params["department_select"].to_i > 0 %>
  <% @items = @items.where(department_id: params["department_select"]) %>
<% end %>
<% if params["genre_select"].to_i > 0 %>
  <% @items = @items.where(genre_id: params["genre_select"]) %>
<% end %>
<% if params["place_check"] != nil %>
  <% @place_check_id = [] %>
  <% for i in 1..@places.length %>
    <% if params["place_check"][i.to_s] %>
    <% @place_check_id << i %>
    <% end %>
  <% end %>
  <% @items = @items.where(place_id: @place_check_id) %>
<% else%>
  <% @place_check_id = [] %>
<% end %>

</form>
</div>

<%
@dep = "指定しない"
@gen = "指定しない"
@pla = "指定しない"
@key = "指定しない"

if params["department_select"] != "0" && params["department_select"] != nil
  @dep = @departments[params["department_select"].to_i - 1].name
end
if params["genre_select"] != "0" && params["genre_select"] != nil
  @gen = @genres[params["genre_select"].to_i - 1].name
end

if @place_check_id.length > 0
  @pla = @places[@place_check_id[0] - 1].name
  for i in 1..@place_check_id.length-1
    @pla = @pla + ", " + @places[@place_check_id[i]-1].name
  end
end

if params["freeword_select"] != "" && params["freeword_select"] != nil
  @key = params["freeword_select"]
end
%>



<br>

<b>検索条件</b>：<%= @sort_str %><br>
【学類：<%= @dep %>】<br>
【ジャンル：<%= @gen %>】<br>
【場所：<%= @pla %>】<br>
【キーワード：<%= @key %>】<br><br>
検索結果：<span class="match_num"><%= @items.length %></span>件の商品
<% @items.each do |item| %>
<table class="item_table" border="1">
  <tr>
    <td class="img" rowspan="4">
      <% if item.image? %>
        <%= link_to item do %><%= image_tag item.image.url %><% end %>
      <% else %>
        <%= link_to item do %><%= image_tag 'no_image.png' %><% end %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th class="cell_label">商品名</th>
    <td><%= link_to item.name, item %></td>
  </tr>
  <tr>
    <th class="cell_label">価格</th>
    <td><%= item.price %> 円</td>
  </tr>
  <tr>
    <th class="cell_label">地域</th>
    <td><%= item.place.name %></td>
  </tr>
</table>
<% end %>

<br>

<a href="#index_top" class="color_btn">ページ上部へ</a>
