<p id="notice"><%= notice %></p>
<div id="index_top"></div>
<h1><%= link_to 'つくByeBuy', items_path %></h1>


<div class="header_tab">
    <div id="tab">
      <%= link_to '商品一覧', items_path %>
      <%= link_to '出品', new_item_path %>
    </div>
</div>

<!--検索機能-->

<form name="search_form" method="get">
  <div class="search_form">
    学類：
    <% @departments = Department.all %>
    <select name="department_select">
      <option value="0" selected="selected">指定しない</option>
      <% @departments.each do |dep| %>
          <option value="<%= dep.id %>"><%= dep.name %></option>
      <% end %>
    </select>
    ジャンル：
    <% @genres = Genre.all %>
    <select name="genre_select">
      <option value="0" selected="selected">指定しない</option>
      <% @genres.each do |gen| %>
        <option value="<%= gen.id %>"><%= gen.name %></option>
      <% end %>
    </select>
    場所：
    <% @places = Place.all %>
    <select name="place_select">
      <option value="0" selected="selected">指定しない</option>
      <% @places.each do |pla| %>
        <option value="<%= pla.id %>"><%= pla.name %></option>
      <% end %>
    </select>
    <br><br>
    <strong>フリーワード検索</strong><br>
    <input type="text" name="freeword_select" size="40">
      <input type="submit" value="検索">
    </div><br>

<% if params["freeword_select"] != "" && params["freeword_select"] != nil %>
  <% @items = @items.where("name like(?)", "%#{params['freeword_select']}%") %>
<% end %>
<% if params["department_select"].to_i > 0 %>
  <% @items = @items.where(department_id: params["department_select"]) %>
<% end %>
<% if params["genre_select"].to_i > 0 %>
  <% @items = @items.where(genre_id: params["genre_select"]) %>
<% end %>
<% if params["place_select"].to_i > 0 %>
  <% @items = @items.where(place_id: params["place_select"]) %>
<% end %>

</form>

<%
@dep = "指定しない"
@gen = "指定しない"
@pla = "指定しない"
@key = "指定しない"

if params["department_select"] != "0"
  @dep = @departments[params["department_select"].to_i - 1].name
end
if params["genre_select"] != "0"
  @gen = @genres[params["genre_select"].to_i - 1].name
end
if params["genre_select"] != "0"
  @pla = @places[params["place_select"].to_i - 1].name
end
if params["genre_select"] != ""
  @key = params["freeword_select"]
end
%>

検索条件：
<学類><%= @dep %>, <ジャンル><%= @gen %>, <場所><%= @pla %> <br>
<キーワード><%= @key %><br>
検索結果：<%= @items.length %>件の商品
<% @items.each do |item| %>
<table class="item_table" border="1">
  <tr>
    <td rowspan="4" width="180"> <%= link_to image_tag('no_image.png', { :alt => 'no_image'}), item %></td>
  </tr>
  <tr>
    <td class="cell_label">商品名</td>
    <td><%= link_to item.name, item %></td>
  </tr>
  <tr>
    <td class="cell_label">価格</td>
    <td><%= item.price %> 円</td>
  </tr>
  <tr>
    <td class="cell_label">地域</td>
    <td><%= item.place.name %></td>
  </tr>
</table>
<% end %>

<br>

<a href="#index_top" class="red_line">ページ上部へ</a>
