<p id="notice"><%= notice %></p>

<h1>Items</h1>


<!--検索機能-->
<form name="search_form" method="get">
  <strong>絞り込み・並び替え</strong><br>
  学類：
  <% @departments = Department.all %>
  <select name="department_select">
    <option value="0">指定しない</option>
    <% @departments.each do |dep| %>
      <% if params["department_select"].to_i == dep.id %>
        <option value="<%= dep.id %>" selected="selected"><%= dep.name %></option>
      <% else %>
        <option value="<%= dep.id %>"><%= dep.name %></option>
      <% end %>
    <% end %>
  </select>
  ジャンル：
  <% @genres = Genre.all %>
  <select name="genre_select">
    <option value="0">指定しない</option>
    <% @genres.each do |gen| %>
      <% if params["genre_select"].to_i == gen.id %>
        <option value="<%= gen.id %>" selected="selected"><%= gen.name %></option>
      <% else %>
        <option value="<%= gen.id %>"><%= gen.name %></option>
      <% end %>
    <% end %>
  </select> <br>
  場所：
  <% @places = Place.all %>
  <select name="place_select">
    <option value="0">指定しない</option>
    <% @places.each do |pla| %>
      <% if params["place_select"].to_i == pla.id %>
        <option value="<%= pla.id %>" selected="selected"><%= pla.name %></option>
      <% else %>
        <option value="<%= pla.id %>"><%= pla.name %></option>
      <% end %>
    <% end %>
  </select> <br>

<% if params["department_select"].to_i > 0 %>
  <% @stories = @stories.where(department_id: params["department_select"]) %>
<% end %>
<% if params["category_select"].to_i > 0 %>
  <% @stories = @stories.where(category_id: params["category_select"]) %>
<% end %>

  <input type="submit" value="検索">
</form>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Place</th>
      <th>Image</th>
      <th>Price</th>
      <th>Detail</th>
      <th>Genre</th>
      <th>Student</th>
      <th>Department</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.place_id %></td>
        <td><%= item.image %></td>
        <td><%= item.price %></td>
        <td><%= item.detail %></td>
        <td><%= item.genre_id %></td>
        <td><%= item.student_id %></td>
        <td><%= item.department_id %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
