<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>
<% if flash[:alert] %>
  <p><%= flash[:alert] %></p>
<% end %>

        <div class="scroll-horizontal-wrapper">
<% @genres = Genre.all %>
<% if params["genre"] == nil %>
  <% params["genre"] = "0" %>
<% end %>
          <form method="get" class="scroll-horizontal">
<% @places = Place.all %>
<% if params["freeword_select"] != nil %>
            <input type="hidden" name="freeword_select" value="<%= params["freeword_select"] %>">
            <input type="hidden" name="department_select" value="<%= params["department_select"] %>">
  <% if params["place_check"] != nil %>
    <% for i in 1..@places.length %>
      <% if params["place_check"].include?(i.to_s) %>
            <input type="hidden" name="place_check[]" value="<%= i %>">
      <% end %>
    <% end %>
  <% end %>
            <input type="hidden" name="sort_type" value="<%= params["sort_type"] %>">
<% end%>
<% if params["genre"] == "0" %>
            <button type="submit" name="genre" value="0" class="btn">全商品</button>
<% else %>
            <button type="submit" name="genre" value="0" class="btn secondary">全商品</button>
<% end%>
<% @genres.each do |gen| %>
  <% if params["genre"] == gen.id.to_s %>
            <button type="submit" name="genre" value="<%= gen.id %>" class="btn"><%= gen.name %></button>
  <% else %>
            <button type="submit" name="genre" value="<%= gen.id %>" class="btn secondary"><%= gen.name %></button>
  <% end%>
<% end %>
          </form>
        </div>
        <ul class="collapsible" data-collapsible="accordion">
          <li>
            <div class="collapsible-header"><i class="material-icons left">search</i>検索・絞り込み</div>
            <div class="collapsible-body">
              <form method="get">
                <div class="row">
                  <div class="input-field">
<% if params["freeword_select"] == nil then @fwd_default = "" else @fwd_default = params["freeword_select"] end %>
                    <input type="text" id="freeword_select" name="freeword_select" value="<%= @fwd_default %>">
                    <label for="freeword_select" class="active">フリーワード</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field">
                    <select name="department_select">
<% @departments = Department.all %>
<% if params["department_select"] == nil || params["department_select"] == 0 %>
                      <option value="0" selected>指定しない</option>
<% else %>
                      <option value="0">指定しない</option>
<% end %>
<% @departments.each do |dep| %>
  <% if params["department_select"] == dep.id.to_s %>
                      <option value="<%= dep.id %>" selected><%= dep.name %></option>
<% else %>
                      <option value="<%= dep.id %>"><%= dep.name %></option>
  <% end %>
<% end %>
                    </select>
                    <label>所属</label>
                  </div>
                </div>
                <div class="row flex valign-wrapper">
                  <label style="margin-right: auto;">地域</label><a class="btn secondary" href="javascript:window.open('/map', 'map'); void(0);">地図から選択</a>
                </div>
                <div class="row flex flex-wrap">
<% @places.each do |pla| %>
                  <span class="right-margin">
  <% if params["place_check"] != nil && params["place_check"].include?(pla.id.to_s) %>
                    <%= check_box 'place_check', nil, {:id => "place_check_" + pla.id.to_s, :checked => "checked"}, pla.id, nil %>
  <% else %>
                    <%= check_box 'place_check', nil, {:id => "place_check_" + pla.id.to_s}, pla.id, nil %>
  <% end %>
                    <label for="place_check_<%= pla.id %>"><%= pla.name %></label>
                  </span>
<% end %>
                </div>
                <div class="row">
                  <div class="input-field">
                    <select name="sort_type">
<% if params["sort_type"] == '1' %>
                      <option value="0">新しい順に表示</option>
                      <option value="1" selected>価格の安い順に表示</option>
<% else %>
                      <option value="0" selected>新しい順に表示</option>
                      <option value="1">価格の安い順に表示</option>
<% end %>
                    </select>
                    <label>並び替え</label>
                  </div>
                </div>
                <div class="row center-align">
                  <button type="submit" class="btn"><i class="material-icons left">search</i>検索</button>
                </div>
                <input type="hidden" name="genre" value="<%= params["genre"] %>">
              </form>
              <form method="get">
                <input type="hidden" name="genre" value="<%= params["genre"] %>">
                <div class="row center-align">
                  <button type="submit" class="btn-flat">絞り込みを解除</button>
                </div>
              </form>
            </div>
          </li>
        </ul>
<% if params["sort_type"] == '0' || params["sort_type"] == nil %>
  <% @items = Item.order('created_at DESC').where(activated: true) %>
<% elsif params["sort_type"] == '1' %>
  <% @items = Item.order('price ASC').where(activated: true) %>
<% end %>
<% if params["freeword_select"] != "" && params["freeword_select"] != nil %>
  <% @items = @items.where("name like(?) or detail like(?)", "%#{params['freeword_select']}%" , "%#{params['freeword_select']}%") %>
<% end %>
<% if params["department_select"].to_i > 0 %>
  <% @items = @items.where(department_id: params["department_select"]) %>
<% end %>
<% if params["genre_select"].to_i > 0 %>
  <% @items = @items.where(genre_id: params["genre_select"]) %>
<% end %>
<% if params["place_check"] != nil %>
  <% @place_check_id = [] %>
  <% for i in 1..@places.length %>
    <% if params["place_check"].include?(i.to_s) %>
      <% @place_check_id << i %>
    <% end %>
  <% end %>
  <% @items = @items.where(place_id: @place_check_id) %>
<% else%>
  <% @place_check_id = [] %>
<% end %>
<% if params["genre"] != "0" %>
  <% @items = @items.where(genre_id: params["genre"]) %>
<% end %>
        <h2>検索結果</h2>
        <p><span class="match-num-text"><%= @items.length %></span>件の商品</p>
        <div class="row">
<% @items.each do |item| %>
  <% if item.sold != 8181 %>
          <div class="col s12 m6 l4">
    <%= link_to(item) do %>
            <div class="card hoverable">
              <div class="row">
      <% if Time.current - item.created_at < 3600 * 24 %>
                <div class="card-image col s12 ribbon new square">
      <% else %>
                <div class="card-image col s12 square">
      <% end %>
      <% if item.image? %>
                  <div class="img" style="background-image: url(<%= asset_path item.image.url %>);"></div>
      <% else %>
                  <div class="img" style="background-image: url(<%= asset_path 'no_image.png' %>);"></div>
      <% end %>
                </div>
                <div class="card-content col s12">
                  <table class="item">
                    <tr>
                      <th><h2><%= item.name %></h2></th>
                    </tr>
                    <tr>
                      <td class="right-align">
                        <p>
                          <span class="price"><%= number_with_delimiter(item.price) %></span> 円<br>
                          <%= item.place.name %>
                        </p>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
    <% end %>
          </div>
  <% end %>
<% end %>
        </div>
        <div class="row">
<% @items.each do |item| %>
  <% if item.sold == 8181 %>
          <div class="col s12 m6 l4">
    <%= link_to(item) do %>
            <div class="card grey lighten-5 hoverable">
              <div class="row">
                <div class="card-image col s12 ribbon sold square">
      <% if item.image? %>
                  <div class="img" style="background-image: url(<%= asset_path item.image.url %>);"></div>
      <% else %>
                  <div class="img" style="background-image: url(<%= asset_path 'no_image.png' %>);"></div>
      <% end %>
                </div>
                <div class="card-content col s12">
                  <table class="item">
                    <tr>
                      <th><h2><%= item.name %></h2></th>
                    </tr>
                    <tr>
                      <td class="right-align">
                        <p>
                          <span class="price"><%= number_with_delimiter(item.price) %></span> 円<br>
                          <%= item.place.name %>
                        </p>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
    <% end %>
          </div>
  <% end %>
<% end %>
        </div>
