<h1><%= link_to 'つくByeBuy', items_path %></h1>

<div class="header_tab">
    <div id="tab">
      <%= link_to '商品一覧', items_path %>
      <%= link_to '出品', new_item_path %>
      <%= link_to 'お問い合わせ', '../contact_page/home' %>
    </div>
</div>

<h2>出品フォーム</h2>

<%= render 'form', item: @item %>

<div class="bottom_button">
<%= link_to '商品一覧に戻る', items_path, :class => "color_btn"  %>
</div>
