<p id="notice"><%= notice %></p>

<table class="item_table_show" border="1">
  <tr>
    <td rowspan="8" width="30%"><%= image_tag('no_image.png') %></td>
  </tr>
  <tr>
    <td class="cell_label_show">商品名</td>
    <td><%= @item.name %></td>
  </tr>
  <tr>
    <td class="cell_label_show">価格</td>
    <td><%= @item.price %></td>
  </tr>
  <tr>
    <td class="cell_label_show">地域</td>
    <td><%= @item.place_id %></td>
  </tr>
  <tr>
    <td class="cell_label_show">商品の詳細</td>
    <td><%= @item.detail %></td>
  </tr>
  <tr>
    <td class="cell_label_show">ジャンル</td>
    <td><%= @item.genre_id %></td>
  </tr>
  <tr>
    <td class="cell_label_show">学籍番号</td>
    <td><%= @item.student_id %></td>
  </tr>
  <tr>
    <td class="cell_label_show">学類</td>
    <td><%= @item.department_id %></td>
  </tr>
</table>
<!-- <p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Place:</strong>
  <%= @item.place_id %>
</p>

<p>
  <strong>Image:</strong>
  <%= @item.image %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @item.detail %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @item.genre_id %>
</p>

<p>
  <strong>Student:</strong>
  <%= @item.student_id %>
</p>

<p>
  <strong>Department:</strong>
  <%= @item.department_id %>
</p> -->

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
