<p id="notice"><%= notice %></p>

<h1><%= link_to 'つくByeBuy', items_path %></h1>


<div class="header_tab">
    <div id="tab">
      <%= link_to '商品一覧', items_path %>
      <%= link_to '出品', new_item_path %>
      <%= link_to 'お問い合わせ', '../contact_page/home' %>
    </div>
</div>
<p>


<h2>商品の詳細</h2>
<table class="item_table_show" border="1">
  <tr>
    <td width="30%"><%= image_tag('no_image.png') %></td>
    <td class="item_cell">
      <div class="item_name"><%= @item.name %></div>
      <div class="item_price"><span class="value"><%= @item.price %></span> 円</div>
      <div class="item_place"><%= @item.place.name %></div>
      <div class="item_genre"><%= @item.genre.name %></div>
  </td>
  </tr>
  <tr>
    <td colspan="2">
      <div class="item_detail"><%= @item.detail %></div>
      <div class="to_mail_button"><%= submit_tag('出品者に連絡する') %></div>
    </td>
  </tr>
  <!-- <tr>
    <td class="cell_label_show">学籍番号</td>
    <td><%= @item.student_id %></td>
  </tr>
  <tr>
    <td class="cell_label_show">学類</td>
    <td><%= @item.department.name %></td>
  </tr> -->
<%=  %>
</table>


<p><strong>コメント</strong></p>
<% comments = Comment.where(item_id: @item.id ) %>
<% num = 1 %>
<% comments.each do |comment| %>
  <% if comment.comment_body.start_with?(">>") %>
  <% else %>
      <%= num %>.
      <%= comment.comment_body %>
      <% comments.each do |rep| %>
          <% if rep.comment_body.start_with?(">>#{num}") %>
              <p>&emsp;&emsp;&emsp;⇒<%= rep.comment_body.slice(3..-1) %></p>
          <% end %>
      <% end %>

      <% @choice = ">>" + num.to_s %>
      <%= form_tag :url => { :action => "show", :id => @item.id } do %>
        <%= hidden_field_tag 'choice_send', @choice %>
        <button type="submit">返信</button>
      <% end %>

      <% num = num+1 %>

      </p>
  <% end %>
<% end %>

</p>
<p>

<% choice_c = params['choice_send']%>

<strong>コメント入力</strong></p>

<%= form_tag("/items/comment") do %>
    <form>
      <div class="form-group">

        <textarea name="comment_body" class="form-control" rows="6" cols="60"><%= choice_c %></textarea>

        <%= hidden_field_tag 'item_id', @item.id %>
      </div><!--form-group-->
      <button type="submit">コメント</button>
    <% end %>
</p>


<%= link_to '商品を編集する', edit_item_path(@item), :class => "red_line" %> |
<%= link_to '商品一覧に戻る', items_path, :class => "red_line"  %>


<br><br>

<%= form_tag('../mail_page/home', method: "get") do %>

<%= hidden_field :to_mail, :student_id, :value => @item.student_id %>


<% end %>
