<p id="notice"><%= notice %></p>

<h1><%= link_to 'つくByeBuy', items_path %></h1>

<div class="header_tab">
    <div id="tab">
      <%= link_to '商品一覧', items_path %>
      <%= link_to '出品', new_item_path %>
    </div>
</div>

<table class="item_table_show" border="1">
  <tr>
    <td rowspan="8" width="30%"><%= image_tag('no_image.png') %></td>
  </tr>
  <tr>
    <td class="cell_label_show">商品名</td>
    <td><%= @item.name %></td>
  </tr>
  <tr>
    <td class="cell_label_show">価格</td>
    <td><%= @item.price %> 円</td>
  </tr>
  <tr>
    <td class="cell_label_show">地域</td>
    <td><%= @item.place.name %></td>
  </tr>
  <tr>
    <td class="cell_label_show">商品の詳細</td>
    <td><%= @item.detail %></td>
  </tr>
  <tr>
    <td class="cell_label_show">ジャンル</td>
    <td><%= @item.genre.name %></td>
  </tr>
  <tr>
    <td class="cell_label_show">学籍番号</td>
    <td><%= @item.student_id %></td>
  </tr>
  <tr>
    <td class="cell_label_show">学類</td>
    <td><%= @item.department.name %></td>
  </tr>
</table>


<p>
  <strong>コメント:</strong>
  <% comments = Comment.where(item_id: @item.id ) %>
  <% comments.each do |comment| %>
  <p>
      <%= comment.comment_body %>
  </p>
  <% end %>
</p>
<p>
<strong>コメント入力</strong>
<%= form_tag("/items/comment") do %>
    <form>
      <div class="form-group">
        <textarea name="comment_body" class="form-control" ></textarea>
        <%= hidden_field_tag 'item_id', @item.id %>
      </div><!--form-group-->
      <button type="submit">コメント</button>
    <% end %>
</p>










<%= link_to '商品を編集する', edit_item_path(@item), :class => "red_line" %> |
<%= link_to '商品一覧に戻る', items_path, :class => "red_line"  %>

<br><br>

<%= form_tag('../mail_page/home', method: "get") do %>

  <%= hidden_field :to_mail, :student_id, :value => @item.student_id %>

  <%= submit_tag('出品者に連絡する') %>
<% end %>
