<!-- <p id="notice"><% notice %></p> -->

<h1><%= link_to 'つくByeBuy', items_path %></h1>



<div class="header_tab">
    <div id="tab">
      <%= link_to '商品一覧', items_path %>
      <%= link_to '出品', new_item_path %>
      <%= link_to 'お問い合わせ', '../contact_page/home' %>
    </div>
</div>
<p>


<h2>商品の詳細</h2>
<table class="item_table_show" border="1">
  <tr>
    <td width="30%"><%= image_tag @item.image.url if @item.image? %></td>
    <td class="item_cell">
      <div class="item_name"><%= @item.name %></div>
      <div class="item_price"><span class="value"><%= @item.price %></span> 円</div>
      <div class="item_place"><%= @item.place.name %></div>
      <div class="item_genre"><%= @item.genre.name %></div>
  </td>
  </tr>
  <tr>
    <td colspan="2">
      <div class="item_detail"><%= simple_format(h(@item.detail)) %></div>
      <%= form_tag('../mail_page/home', method: "get") do %>
      <%= hidden_field :to_mail, :student_id, :value => @item.student_id %>
      <div class="to_mail_button"><%= submit_tag('取引開始', :class => "color_btn") %></div>
      <% end %>
    </td>
  </tr>
  <!-- <tr>
    <td class="cell_label_show">学籍番号</td>
    <td><%= @item.student_id %></td>
  </tr>
  <tr>
    <td class="cell_label_show">学類</td>
    <td><%= @item.department.name %></td>
  </tr> -->
<%=  %>
</table>

<h2>コメント</h2>
<br>
<% comments = Comment.where(item_id: @item.id ) %>
<% num = 1 %>
<% comments.each do |comment| %>
  <!--  出品者のコメントか判定  -->
  <% if comment.reply == "0" %>

      <% if comment.judge == "1" %>
      <span class="comment_seller">
        <span class="comment_question">
          <%= num %>.
          [出品者のコメント]
                  <%= simple_format(h(comment.comment_body)) %>
          </font>
        </span>
      </span>
      <% else %>
        <span class="comment_question">
          <%= num %>.
          <%= simple_format(h(comment.comment_body)) %>
        </span>
      <% end %>

      <!--  コメントにリプライを生やす  -->
      <% comments.each do |rep| %>
          <% if rep.reply.to_i == num %>
              <% if rep.judge == "0" %>

                  <p>&emsp;&emsp;&emsp;⇨
                    <!-- 一行のとき -->
                    <% if rep.comment_body.sub(/[\r\n]*\z/, "").sub(/\A[\r\n]*/, "").index("\n") == nil %>
                      <span class="comment_answer_one_line">
                        <%= rep.comment_body %>
                      </span>
                    <!-- 改行が含まれているとき -->
                    <% else %>
                      <div class="comment_answer_multi_lines">
                        <%= simple_format(h(rep.comment_body)) %>
                      </div>
                    <% end %>
                  </p>
                </div>
              <% else %>
                  <span class="comment_seller"><p>
                    &emsp;&emsp;&emsp;⇨
                    <!-- 一行のとき -->
                    <% if rep.comment_body.sub(/[\r\n]*\z/, "").sub(/\A[\r\n]*/, "").index("\n") == nil %>
                      <span class="comment_answer_one_line">
                        [出品者の返信]<%= rep.comment_body %>
                      </span>
                    <!-- 改行が含まれているとき -->
                    <% else %>
                      <div class="comment_answer_multi_lines">
                        [出品者の返信]<%= simple_format(h(rep.comment_body)) %>
                      </div>
                    <% end %>
                    </p></span>
              <% end %>
          <% end %>
      <% end %>
      <% r_comment2 = "への返信" %>
      <% @choice = num %>
      <% @r_comment = num.to_s + r_comment2 %>

      <!--  返信ボタンフォーム  -->
      <%= form_tag :url => { :action => "show", :id => @item.id } do %>
          <%= hidden_field_tag 'choice_send', @choice %>
          <%= hidden_field_tag 'return_send', @r_comment %>
          <button type="submit">返信</button>
      <% end %>
  <% num = num+1 %>
  </p>
  <% end %>
<% end %>

</p>
<p>
<% if params['choice_send'].nil? %>
    <% choice_c = 0; %>
<% else %>
<% choice_c = params['choice_send']%>
<% choice_c %>
<% end %>



    <% return_comment = params['return_send']%>

<p id="com"></p>

<div class="comment_form">
<strong>コメント入力</strong><br>
<% if flash[:null] == "1" %>
  <% return_comment = flash[:return_comment] %>
  <% choice_c = flash[:choice_c] %>
<% end %>

<b><%= return_comment %><b>
<font color = "red"><%= notice %></font>
<%= form_tag("/items/comment") do %>
    <form>
      <div class="form-group">

        <textarea name="comment_body" class="form-control" rows="6" cols="60"></textarea>
        <br>出品者はパスワードを入力してください。<br>

        <%= password_field_tag 'password' %>

        <%= hidden_field_tag 'item_id', @item.id %>
        <%= hidden_field_tag 'choice_c', choice_c %>

      </div><!--form-group-->
      <button type="submit" class="color_btn">コメント</button>
    <% end %>
</div>
</p>

<div class="bottom_button">
<%= link_to '商品を編集する', edit_item_path(@item), :class => "color_btn" %>
<%= link_to '商品一覧に戻る', items_path, :class => "color_btn"  %>
</div>
<div>

<p id="des"></p>
<font color = "red"><%= flash[:pass_destroy] %></font>
<%= form_tag("/items/destroy") do %>
  <form>
    <%= password_field_tag 'password' %>
    <%= hidden_field_tag 'id', @item.id %>
    <button type="submit">商品取引終了</button>
  </form>
<% end %>



</div>

<br><br>
