<% if flash[:notice] %>
        <div class="alert">
          <div class="success">
            <p><%= flash[:notice] %></p>
          </div>
        </div>
<% end %>
<% if @item.activated && @item.activated != nil %>
        <div class="card">
          <div class="row">
            <div class="card-image col s12 m5">
  <% if @item.image? %>
              <%= link_to url_for(controller: :static_pages, action: :image, id: @item.id) do %><%= image_tag @item.image.url %><% end %>
              <p class="grey-text center-align small-text">クリックで元画像を表示</p>
  <% else %>
              <%= image_tag 'no_image.png' %>
  <% end %>
            </div>
            <div class="card-content col s12 m7">
              <table>
                <tr>
                  <th><h1><%= @item.name %></h1></th>
                </tr>
                <tr>
                  <td class="right-align">
                    <p><span class="price"><%= number_with_delimiter(@item.price) %></span> 円</p>
                    <p><%= @item.place.name %></p>
                    <p class="grey-text">
                      <%= @item.genre.name %><br>
                      <%= @item.department.name %><br>
                      <%= (@item.created_at).to_s.slice(0, 16) %>
                    </p>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="card-content">
              <%= simple_format(h(@item.detail)) %>
              <%= form_tag('../mail_page/home', method: "post") do %>
                <%= hidden_field :to_mail, :student_id, :value => @item.student_id %>
                <%= hidden_field :to_mail, :item_id, :value => @item.id %>
                <div class="right-align"><%= submit_tag('取引開始', :class => "btn") %></div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-tabs">
            <ul class="tabs tabs-fixed-width">
              <li class="tab"><a href="#com">コメント</a></li>
              <li class="tab"><a href="#des">出品者メニュー</a></li>
            </ul>
          </div>
          <div class="card-content">
            <div id="com">
              <p class="right-align"><a href="#com_form" class="btn secondary">コメントする</a></p>
              <h2>コメント</h2>
  <% if params['choice_send'].nil? %>
    <% choice_c = 0; %>
  <% else %>
    <% choice_c = params['choice_send']%>
  <% end %>
  <% return_comment = params['return_send']%>
  <% comments = Comment.where(item_id: @item.id ) %>
  <% num = 1 %>
  <% comments.each do |comment| %>
    <% if comment.reply == "0" %>
      <% if comment.judge == "1" %>
              <div class="card seller">
                <div class="card-content">
                  <span class="chip"><%= num %></span>
                  <span class="title">出品者のコメント</span>
                  <p class="right-align grey-text"><%= (comment.created_at).to_s.slice(0, 16) %></p>
                  <%= simple_format(h(comment.comment_body)) %>
      <% else %>
              <div class="card buyer">
                <div class="card-content">
                  <span class="chip"><%= num %></span>
                  <p class="right-align grey-text"><%= (comment.created_at).to_s.slice(0, 16) %></p>
                  <%= simple_format(h(comment.comment_body)) %>
      <% end %>
      <% comments.each do |rep| %>
        <% if rep.reply.to_i == num %>
          <% if rep.judge == "0" %>
                  <div class="card buyer">
                    <div class="card-content">
                      <p class="right-align grey-text"><%= (rep.created_at).to_s.slice(0, 16) %></p>
                      <%= simple_format(h(rep.comment_body)) %>
                    </div>
                  </div>
          <% else %>
                  <div class="card seller">
                    <div class="card-content">
                      <span class="title">出品者の返信</span>
                      <p class="right-align grey-text"><%= (rep.created_at).to_s.slice(0, 16) %></p>
                      <%= simple_format(h(rep.comment_body)) %>
                    </div>
                  </div>
          <% end %>
        <% end %>
      <% end %>
                </div>
                <div class="card-content">
      <% r_comment2 = "への返信" %>
      <% @choice = num %>
      <% @r_comment = num.to_s + r_comment2 %>
                  <%= form_tag '#com_form' do %>
                    <%= hidden_field_tag 'choice_send', @choice %>
                    <%= hidden_field_tag 'return_send', @r_comment %>
                    <button type="submit" class="btn">返信</button>
                  <% end %>
                </div>
              </div>
      <% num = num+1 %>
    <% end %>
  <% end %>
              <div class="divider"></div>
              <h2 id="com_form">コメントする</h2>
  <% if flash[:null] == "1" %>
    <% return_comment = flash[:return_comment] %>
    <% choice_c = flash[:choice_c] %>
  <% end %>
              <%= form_tag("/items/comment") do %>
                <%= hidden_field_tag 'item_id', @item.id %>
                <%= hidden_field_tag 'choice_c', choice_c %>
  <% if return_comment.nil? %>
    <% return_comment = "コメント内容" %>
  <% end %>
                <div class="row">
                  <div class="col s12">
                    <div class="input-field">
                      <textarea name="comment_body" id="comment_body" class="materialize-textarea"></textarea>
                      <label for="comment_body"><%= return_comment %></label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col s12 flex">
                    <span class="right-margin">
                      <input type="radio" name="commentCh" id="commentCh1" value="s1" onclick="javascript:commentChange();" class="with-gap" checked>
                      <label for="commentCh1">利用者</label>
                    </span>
                    <span>
                      <input type="radio" name="commentCh" id="commentCh2" value="s2" onclick="javascript:commentChange();" class="with-gap">
                      <label for="commentCh2">出品者</label>
                    </span>
                  </div>
                </div>
                <div id="pass_check" class="row" style="display: none;">
                  <div class="input-field">
                    <%= password_field_tag 'password' %>
                    <label for="password">パスワード</label>
                  </div>
                </div>
                <div class="row center-align"><button type="submit" class="btn">送信</button></div>
              <% end %>
            </div>
            <div id="des">
              <div class="row">
                <%= link_to '商品情報編集', edit_item_path(@item), :class => "btn" %>
              </div>
              <div class="divider"></div>
              <div class="row">
                <%= form_tag("/items/destroy", :class => "valign-wrapper") do %>
                  <%= hidden_field_tag 'id', @item.id %>
                  <div class="col s6 input-field">
                    <%= password_field_tag 'password' %>
                    <label for="password">パスワード</label>
                  </div>
                  <div class="col s6"><button type="submit" class="btn">取引終了</button></div>
                <% end %>
  <% if flash[:pass_destroy] %>
                <div class="alert">
                  <div class="error">
                    <%= flash[:pass_destroy] %>
                  </div>
                </div>
  <% end %>
              </div>
            </div>
          </div>
        </div>
<% end %>
