<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<% if @item.activated && @item.activated != nil %>
        <div class="card">
          <div class="row">
            <div class="card-image col s12 m5 ribbon sold">
  <% if @item.image? %>
              <%= link_to url_for(controller: :static_pages, action: :image, id: @item.id) do %><%= image_tag @item.image.url %><% end %>
              <p class="grey-text center-align small-text">クリックで元画像を表示</p>
  <% else %>
              <%= image_tag 'no_image.png' %>
  <% end %>
            </div>
            <div class="card-content col s12 m7">
              <table>
                <tr>
                  <th><h1><%= @item.name %></h1></th>
                </tr>
                <tr>
                  <td class="right-align">
                    <p><span class="price"><%= number_with_delimiter(@item.price) %></span> 円</p>
                    <p><%= @item.place.name %></p>
                    <p class="grey-text">
                      <%= @item.genre.name %><br>
                      <%= @item.department.name %><br>
                      <%= (@item.created_at).to_s.slice(0, 16) %>
                    </p>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="card-content">
              <%= simple_format(h(@item.detail)) %>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <div id="com">
              <h2>コメント</h2>
  <% if params['choice_send'].nil? %>
    <% choice_c = 0; %>
  <% else %>
    <% choice_c = params['choice_send']%>
  <% end %>
  <% return_comment = params['return_send']%>
  <% comments = Comment.where(item_id: @item.id ) %>
  <% num = 1 %>
  <% comments.each do |comment| %>
    <% if comment.reply == "0" %>
      <% if comment.judge == "1" %>
              <div class="card seller">
                <div class="card-content">
                  <span class="chip"><%= num %></span>
                  <span class="title">出品者のコメント</span>
                  <p class="right-align grey-text"><%= (comment.created_at).to_s.slice(0, 16) %></p>
                  <%= simple_format(h(comment.comment_body)) %>
      <% else %>
              <div class="card buyer">
                <div class="card-content">
                  <span class="chip"><%= num %></span>
                  <p class="right-align grey-text"><%= (comment.created_at).to_s.slice(0, 16) %></p>
                  <%= simple_format(h(comment.comment_body)) %>
      <% end %>
      <% comments.each do |rep| %>
        <% if rep.reply.to_i == num %>
          <% if rep.judge == "0" %>
                  <div class="card buyer">
                    <div class="card-content">
                      <p class="right-align grey-text"><%= (rep.created_at).to_s.slice(0, 16) %></p>
                      <%= simple_format(h(rep.comment_body)) %>
                    </div>
                  </div>
          <% else %>
                  <div class="card seller">
                    <div class="card-content">
                      <span class="title">出品者の返信</span>
                      <p class="right-align grey-text"><%= (rep.created_at).to_s.slice(0, 16) %></p>
                      <%= simple_format(h(rep.comment_body)) %>
                    </div>
                  </div>
          <% end %>
        <% end %>
      <% end %>
                </div>
                <div class="card-content">
      <% r_comment2 = "への返信" %>
      <% @choice = num %>
      <% @r_comment = num.to_s + r_comment2 %>
                  <%= form_tag '#com_form' do %>
                    <%= hidden_field_tag 'choice_send', @choice %>
                    <%= hidden_field_tag 'return_send', @r_comment %>
                    <button type="submit" class="btn">返信</button>
                  <% end %>
                </div>
              </div>
      <% num = num+1 %>
    <% end %>
  <% end %>
            </div>
          </div>
        </div>
<% end %>
