<!DOCTYPE html>
<html>
  <head>
    <title>つくByeBuy</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
  </head>

  <body>
    <div id="header">
      <header>
        <h1><%= link_to image_tag('tsuku_byebuy_logo_transparent.png', { :border => '0', :alt => 'つくbyebuy', :class => 'header_logo'}), items_path %></h1>
      </header>
      <div id="nav">
        <nav>
          <ul>
            <li><%= link_to items_path do %><i class="fas fa-list-ul"></i><span class="menu_text">商品一覧</span><% end %></li>
            <li><%= link_to new_item_path do %><i class="fas fa-plus-circle"></i><span class="menu_text">出品</span><% end %></li>
            <li><%= link_to '/usage' do %><i class="fas fa-question-circle"></i><span class="menu_text">使い方</span><% end %></li>
            <li><%= link_to '/contact' do %><i class="fas fa-info-circle"></i><span class="menu_text">問い合わせ</span><% end %></li>
          </ul>
        </nav>
      </div>
    </div>
    <main>
      <%= yield %>
      <p><a href="#" class="pagetop color_btn">ページ上部へ</a></p>
    </main>
  </body>
</html>
