<!DOCTYPE html>
<html>
  <head>
    <title>つくByeBuy</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-wrapper container">
          <%= link_to image_tag('tsuku_byebuy_logo_transparent.png', {:alt => 'つくByeBuy'}), items_path, class: "brand-logo" %>
          <a href="javascript:void(0);" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><%= link_to new_item_path do %>出品<% end %></li>
            <li><%= link_to '/wants/home' do %>欲しいもの掲示板<% end %></li>
            <li><%= link_to '/usage' do %>使い方<% end %></li>
            <li><%= link_to '/about' do %>つくByeBuyについて<% end %></li>
          </ul>
          <ul id="nav-mobile" class="side-nav">
            <li><%= link_to new_item_path do %><i class="material-icons left">add_circle</i>出品<% end %></li>
            <li><%= link_to '/wants/home' do %><i class="material-icons left">view_list</i>欲しいもの掲示板<% end %></li>
            <li><%= link_to '/usage' do %><i class="material-icons left">help</i>使い方<% end %></li>
            <li><%= link_to '/about' do %><i class="material-icons left">mail</i>つくByeBuyについて<% end %></li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <div class="container">
<%= yield %>
      </div>
    </main>
    <footer class="page-footer">
      <div class="container">
        <a href="#" class="btn secondary right left-margin">ページ上部へ</a>
        <p><%= link_to 'つくByeBuyについて', '/about' %></p>
      </div>
      <div class="footer-copyright">
        <div class="container">
          <address>Copyright (C) つくByeBuy 2018</address>
        </div>
      </div>
    </footer>
  </body>
</html>
