        <h1>出品者へ連絡</h1>
        <div class="alert error">
          <p><%= flash[:error_n] %></p>
          <p><%= flash[:error_m] %></p>
          <p><%= flash[:error_l] %></p>
        </div>
        <%= form_tag('../mail_page/home', method: "post") do %>
          <%= hidden_field :to_mail, :student_id, :value => flash[:number] %>
          <%= hidden_field :to_mail, :item_id, :value => flash[:id] %>
          <p><%= submit_tag('戻る', :class => "btn") %></p>
        <% end %>
