<h1><%= link_to 'つくByeBuy', items_path %></h1>

<div class="header_tab">
    <div id="tab">
      <%= link_to '商品一覧', items_path %>
      <%= link_to '出品', new_item_path %>
      <%= link_to 'お問い合わせ', '../contact_page/home' %>
    </div>
</div>

<% if params[:mail][:content].empty? %>
    空欄のまま出品者に連絡はできません。<br>
<% end %>
<% if params[:mail][:student_id].empty? %>
    学籍番号を入力してください。<br>
<% end %>
<% if params[:mail][:content].empty? || params[:mail][:student_id].empty? %>
    もう１度入力お願いします。<br>
    <%= link_to '戻る', :back, :class => "red_line"  %>

<% else %>

  出品者に連絡しました。<br>
  出品者からの返信をお待ちください。

  <% ActionMailer::Base.mail(
    from: "sg5td9uo@idcf.kke.com",
    to: "s" + params[:to_mail][:student_id].slice(2,7) + "@u.tsukuba.ac.jp",
    subject: "[つくByeBuy] 閲覧者からの連絡",
    body: params[:mail][:student_id] + " さんから連絡がありました。\n\n" + params[:mail][:content]
 ).deliver %>


 <%= link_to '商品一覧に戻る', items_path, :class => "red_line"  %>
<% end %>
