        <h1>出品者に連絡</h1>
        <div class="card">
          <div class="card-content">
            <%= form_tag('/items/done') do %>
              <div class="row">
                <div class="col s12 input-field">
                  <%= number_field :mail, :student_id, :placeholder => "例：201512345" %>
                  <label for="mail_student_id" class="active">学籍番号</label>
                  <p class="grey-text">あなたの学籍番号を9桁で入力してください。</p>
                </div>
              </div>
              <div class="row">
                <div class="col s12 input-field">
                  <%= text_area :mail, :content, :class => "materialize-textarea" %>
                  <label for="mail_content">内容</label>
                </div>
              </div>
              <div class="row center-align">
                <%= hidden_field :to_mail, :student_id, :value => params[:to_mail][:student_id] %>
                <%= hidden_field :to_mail, :item_id, :value => params[:to_mail][:item_id] %>
                <%= hidden_field_tag 'id' => params[:to_mail][:item_id] %>
                <%= submit_tag('送信', :class => "btn") %>
              </div>
            <% end %>
          </div>
        </div>
