<h2>出品者に連絡</h2>

<%= form_tag('/items/done') do %>
学籍番号<br>
  <%= number_field :mail, :student_id, :placeholder => "例) 201512345" %><br><br>
内容<br>
  <%= text_area :mail, :content, :size => "35x10" %> <br><br>
  <%= hidden_field :to_mail, :student_id, :value => params[:to_mail][:student_id] %>
  <%= hidden_field :to_mail, :item_id, :value => params[:to_mail][:item_id] %>
  <%= hidden_field_tag 'id' => params[:to_mail][:item_id] %>
  <%= submit_tag('送信', :class => "color_btn") %>
<% end %>
<br><br>
<div class="color_btn"><%= link_to '商品に戻る', :class => "color_btn" ,:controller => "items",:action => "show", :id => params[:to_mail][:item_id] %></div>
<% link_to '戻る',:back, :class => "color_btn"  %>
